.my-btn {
    margin-right: 5px; /* задаем отступ от кнопки справа */
    margin-top: 5px; /* задаем отступ от кнопки сверху*/
    width: 50px; /* задаем ширину кнопки */
    height: 50px; /* задаем высоту кнопки */
    border-radius: 50%; /* округляем кнопку */
    border: none; /* отключаем обводку */
    background: #7411f3; /* задаем серый цвет кнопки */
    color: white; /* задаем белый цвет текста внутри кнопки */
    font-size: 1.5rem; /* увеличим размер шрифта */
    font-family: Arial, Helvetica, sans-serif; /* сменим шрифт */
    cursor: pointer; /* при наведении на кнопку курсор будет изменен со стрелки на 'указательный палец' */
    user-select: none; /* отключаем возможность выделить текст внутри кнопки */
}


/* hover - это состояние элемента, когда на него наведен курсор */
.my-btn:hover {
    background: #d751fa; /* при наведение курсора на кнопку, она будет окрашена в серый */
}

/* active - это состояние активации элемента. В случае кнопки - нажатие на нее */
.my-btn:active {
    filter: brightness(130%); /* увеличим интенсивность цвета для эффекта вспышки */
}

/* селектор для кнопок первостепенных операций */
.my-btn.primary {
    background: #09f5de; /* цвет кнопки оранжевый */
}

/* селектор для кнопок второстепенных операций */
.my-btn.secondary {
    background: #1243ff; /* цвет кнопки сервый */
}

/* селектор для кнопки расчета выражения (=) */
.my-btn.execute {
    width: 110px; /* сделаем кнопку шире других */
    border-radius: 34px; /* подкорректируем округлость */
}

/* селектор для поля вывода результата */
.result {
    width: 180px;
    height: 40px;
    margin-bottom: 15px; /* отступ снизу */
    margin-left: 25px;
    padding-right: 10px; /* выступ справа */
    padding-top: 10px;
    background: rgba(255, 255, 255, 0.56); /* цвет можно задавать и таким образом */
    text-align: right; /* примагнитим текст к правой стороне */
    color: #ffffff; /* цвет текста белый */
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    overflow: hidden;
}

.background_of_calculator {
    padding-top: 15px;
    padding-left: 5px;
    margin-top: 5px;
    background: black;
    width: 250px;
    height: 350px;
    border-radius: 10%;
}

.block_of_buttons {
    margin-left: 10px;
}

.backspace_img {
    position: relative;
    left: 5px;
    top: 15px;
}

.siuuuu {
    display: flex;
}
